@model IEnumerable<_23dh114691_MyStore.Models.Product>

@{


    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        img {
            height: 150px;
            max-width: 150px;
        }
    </style>
</head>

<h2 class="bg-success">DANH SÁCH SẢN PHẨM</h2>

<!-- Search form -->
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Tìm kiếm sản phẩm...">
        <button type="submit" class="btn btn-primary mt-2">Tìm kiếm</button>
    </div>
</form>

<!-- Sorting Table -->
<table class="table container-fluid">
    <tr>
        <th class="bg-success col-md-3">
            @Html.ActionLink("Tên sản phẩm", "Index", new { sortOrder = ViewBag.NameSortParam, searchString = ViewBag.CurrentFilter })
        </th>
        <th class="bg-success col-md-2">Hình ảnh</th>
        <th class="bg-success col-md-1">
            @Html.ActionLink("Đơn giá", "Index", new { sortOrder = ViewBag.PriceSortParam, searchString = ViewBag.CurrentFilter })
        </th>
        <th class="bg-success col-md-2">Danh mục</th>
        <th class="bg-success col-md-4"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td><img src="@Html.DisplayFor(modelItem => item.ProductImage)" /></td>
            <td>@Html.DisplayFor(modelItem => item.ProductPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
